<tr id ='cohort-<%= cohort.id %>'></tr>
    <td><%= cohort.id%></td>
    <td><%= cohort.title%></td>
    <td><%= cohort.start_date%></td>
    <td><%= cohort.end_date%></td>
    <td><%= link_to 'Show', cohort_path(cohort), class: "btn btn-outline-info btn-sm"%></td>
    <td><%= link_to 'Edit', edit_cohort_path(cohort), class: "btn btn-outline-secondary btn-sm" %></td>
    <td><%= link_to 'Remove', cohort_path(cohort),class: "btn btn-outline-danger btn-sm", method: :delete, remote: true, data: { confirm: 'Are you sure' }%></td>
</tr>