<tr id= "student-<%= student.id %>">
  <td><%= student.firstname %></td>
  <td><%= student.lastname %></td>
  <td><%= student.quirk %></td>
  <td><%= link_to 'Edit', edit_student_path(student), remote:true %> </td>
  <td><%= link_to 'Remove', student_path(student), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %></td>
</tr>