<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Quirk:</strong>
  <%= @student.quirk %>
</p>

<p>
  <strong>Cohort Id:</strong>
  <%= @student.cohort_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
