<div class= 'show'>
<h1><%= @student.full_name%></h1>

<div>
  <strong>First Name:</strong>
  <%= @student.firstname %>
</div>

<div>
  <strong>Last Name:</strong>
  <%= @student.lastname %>
</div>

<div>
  <strong>Quirk:</strong>
  <%= @student.quirk %>
</div>

<div>
  <strong>Cohort:</strong>
  <%= @student.cohort.title %>
</div>

<div>
  <strong>Cohort Id:</strong>
  <%= @student.cohort_id %>
</div>

<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-outline-secondary" %> |
<%= link_to 'Back', students_path,class: "btn btn-outline-warning" %>

</div>