<tr id = 'instructor-<%= instructor.id%>'>
    <td><%= instructor.id%></td>
    <td><%= instructor.firstname%></td>
    <td><%= instructor.lastname%></td>
    <td><%= instructor.postion%></td>
    <td><%= instructor.quirk%></td>
    <td><%= instructor.age%></td>
    <td><%= instructor.salary%></td>
    <td><%= instructor.education%></td>
    <td><%= link_to 'Show', instructor_path(instructor), class: "btn btn-outline-info btn-sm"%></td>
    <td><%= link_to 'Edit', edit_instructor_path(instructor), class: "btn btn-outline-secondary btn-sm"%></td> 
    <td><%= link_to 'Remove', instructor_path(instructor),class: "btn btn-outline-danger btn-sm", method: :delete, remote:true, data: { confirm: 'Are you sure' } %></td>
</tr>