<%= form_for(@instructor) do |f| %>
      <ul>
      <li><%= f.label :firstname%></li>
      <li><%= f.text_field :firstname, value: @instructor.firstname%></li>

      <li><%= f.label :lastname%></li>
      <li><%= f.text_field :lastname %></li>

      <li><%= f.label :postion%></li>
      <li><%= f.text_field :postion%><li>

      <li><%= f.label :quirk%></li>
      <li><%= f.text_field :quirk%><li>

      <%= f.submit "Update", :class => "btn" %>     
      </ul>    
 <% end %>