<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <%= form_with model: Instructor.new do |form| %>
            <td><%= form.label :firstname%>
            <%= form.text_field :firstname, placeholder: "Enter First Name"%></td>

            <td><%= form.label :lastname %>
            <%= form.text_field :lastname, placeholder: "Enter Last Name"%></td>

            <td><%= form.label :postion %>
            <%= form.text_field :postion, placeholder: "Enter the position"%></td>

            <td><%= form.label :quirk %>
            <%= form.text_field :quirk, placeholder: "Enter your quirk"%></td>
            
            <td><%= form.submit "Submit" %></td>
        <% end %>
        </tr>
    </thead>
</table>