<div class="show">
<h1><%= @instructor.firstname%> <%= @instructor.lastname %></h1>

<div>
    <strong>First Name:</strong>
    <%= @instructor.firstname%>
</div>

<div>
    <strong>Last Name:</strong>
    <%= @instructor.lastname%>
</div>

<div>
    <strong>Position:</strong>
    <%= @instructor.postion%>
</div>

<div>
    <strong>Quirk:</strong>
    <%= @instructor.quirk%>
</div>

<div>
    <strong>Age:</strong>
    <%= @instructor.age%>
</div>

<div>
    <strong>Salary:</strong>
    <%= @instructor.salary%>
</div>

<div>
    <strong>Education:</strong>
    <%= @instructor.education%>
</div>

<div>   
    <strong>Cohort:</strong><% @allCohort.each do |cohort|%>
        <%= cohort.title%> |
    <% end %>
</div>
<%= link_to 'Edit', edit_instructor_path(@instructor),class: "btn btn-outline-secondary"%> |
<%= link_to 'Back', instructors_path,class: "btn btn-outline-warning"%>
</div>