<div>
    <strong>First Name</strong>
    <%= @instructor.firstname%>
</div>

<div>
    <strong>Last Name</strong>
    <%= @instructor.firstname%>
</div>

<div>
    <strong>Position</strong>
    <%= @instructor.postion%>
</div>

<div>
    <strong>Quirk</strong>
    <%= @instructor.quirk%>
</div>

<%= link_to 'Edit', edit_instructor_path(@instructor)%> |
<%= link_to 'Back', instructors_path%>