<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <%= form_with model: Course.new do |form| %>
                <td><%= form.label :title %>
                <%= form.text_field :title, placeholder: "Enter Title Name"%></td>

                <td><%=form.label :course_id %>
                <%= form.text_field :course_id, placeholder: 'Enter course Id'%></td>    
                <td><%= form.submit "Submit"%></td>
            <% end %>
        </tr>
    </thead>
<table>
